.cart{
    text-align: center;
    min-height: 75vh;
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.clearCart{
    color: white;
    background-color: rgb(199, 22, 45);
    padding: 14px;
    border: none;
    margin: 25px;
    border-radius: 6px;
    cursor: pointer;
    width: 30%;
}

.divButton{
    width: 100%;
}

.order{
    width: 100%;
}

table{
    border-collapse: collapse;
    width: 100%;
}
  
td, th{
    text-align: center;
    padding: 8px;
    border: 1px solid #00000034;
}

th{
    background-color: black;
    color: white;
}
