.orderBtn{
    padding: 20px;
    width: 50%;
}

form{
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 30px;
    padding: 20px;
}

.input-container {
    display: flex;
    padding: 20px;
    margin: auto;
}

.input-container div {
    width: 100%;
}

form input{
    border: 1px solid gray;
    padding: 8px;
    margin: 7px 5px;
    border-radius: 3px;
    width: 200px;
}

label {
    display: block;
}