article{
    width: 22%;
    padding: 25px 0px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article img{
    width: 100%;
    max-width: 450px;
    padding-bottom: 15px;
}

.divProduct{
    max-width: 300px;
    border-top: 1px solid black;
}

.category{
    color: var(--category);
    font-weight: 800;
    margin: 0;
    padding-top: 15px;
    font-size: 19px;
    text-transform: capitalize;
}

.nameProduct{
    font-size: 18px;
    margin: 0;
    padding-bottom: 7px;
}

.stock{
    font-size: 16px;
    color: var(--gray);
    margin: 0;
    padding-left: 7px;
}

.price{
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.btnDetail{
    border: 2px solid var(--dark);
    border-radius: 6px;
    color: var(--dark);
    font-weight: 800;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    height: 48px;
    width: 151px;
    box-shadow: 3px 0px 0px 0px var(--dark);
    margin-top: 12px;
    cursor: pointer;
    width: 100%;
    letter-spacing: 1px;
}

.btnDetail:hover{
    color: var(--white);
    box-shadow: 3px 0px 0px 0px var(--gray);
    background-color:var(--dark);
}