nav{
    background: rgba(0, 0, 0, 0.904);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 60px;
    box-shadow: 0px 15px 15px -11px rgb(0 0 0 / 20%);
}

.nav_links{
    display: flex;
    align-items: center;
}

.nav_links ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul li{
    list-style: none;
    padding: 0px 9px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
}

ul li a:hover{
    color: cadetblue;
}

.logo{
    width: 125px;
}

.banner{
    text-align: center;
}

.banner img{
    width: 70%;
    padding: 50px 0px;
}