* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* :root {
  --main-text-color: #6495ed;
  --main-border-color: #efefefc2;
} */

body {
  font-family: 'Inter', sans-serif;
  background-color: #f0f0f09b;
}
